{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bitly plugin for Craft CMS 3.x
 *
 * BitlyField Field Input
 *
 * @author    Stuart Haas
 * @copyright Copyright (c) 2020 Stuart Haas
 * @link      https://github.com/stuart-haas
 * @package   Bitly
 * @since     1.0.0
 */
#}

<div class="bitly-field">
    <div class="btngroup">
        <input name="{{ name }}" class="text nicetext fullwidth" value="{{ value }}" />
        <a class="btn submit create">Create Bitlink</a>
        <a class="btn submit update">Update Bitlink</a>
        <a class="btn delete">Delete Bitlink</a>
    </div>
    <p></p>
</div>